@function rem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

@function em($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
      $pixels: $pixels * 1px;
    }
  
    @if (unitless($context)) {
      $context: $context * 1px;
    }
  
    @return $pixels / $context * 1em;
  }